* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Fira Code, monospace;
  font-size: 1rem;
  color: #02000e;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.banner {
  background-color: royalblue;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

button {
  padding: .625rem 1.5rem;
  border: 1px solid royalblue;
  background: transparent;
  color: royalblue;
  border-radius: .2rem;
  font-family: Fira Code, monospace;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: .5rem;
  cursor: pointer;
}

.container {
  max-width: 980px;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

input,
textarea,
select {
  display: block;
  border: 1px solid #cacaca;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: Fira Code, monospace;
  outline: none;
  border-radius: .2rem;
  margin-bottom: .5rem;
}

input[type='checkbox'] {
  display: initial;
}

input[type='submit'] {
  cursor: pointer;
}

.terms__condition {
  display: flex;
}

.terms__condition > input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .5rem;
}

fieldset {
  border-color: #d0e5ff;
  border-radius: 0.2rem;
  padding: 0.625rem 1rem;
}


.display__input {
  padding: .5rem 1rem;
  background-color: #dfd6ff;
  margin-top: 0.5rem;
  border-radius: .2rem;
  width: max-content;
}